


.linear-switch{
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
  @include align-content(center);
  @include border-radius($btn-size);
  background-color: $color-grey-light;


  .btn.active{
    @include transition(all 0.2s ease 0s);

    border: solid 1px $color-opac;
    background-color: $color-white;
    color: $color-grey-dark;
    @include box-shadow( 1px, 1px, 2px, $color-grey-medium);
    svg, i, span{
      fill: $color-grey-dark;
    } 

  }
}


.btn{
  cursor: pointer;
  text-align: center;
  border: $border-default;
  background-color: $color-white;
  @include border-radius($btn-size);
  color: $color-grey-dark;

  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
  @include align-content(center);

  svg, i, span{
    vertical-align: middle;
    fill: $color-grey-dark;
    padding: 0 5px;
  }

  &.btn-txt{
    padding: 5px;
  }



  &.btn-circle{
    width: $btn-size;
    height: $btn-size;
  
    &:not(.no-hover):hover{
      border: solid 1px $color-grey-dark;
    }

  }// btn-circle




  //btn colors
  &.btn-no-bg {
    border: solid 1px $color-opac;
    background-color: $color-opac;
    color: $color-grey-dark;
    svg, i, span{
      fill: $color-grey-dark;
    }
    &:not(.no-hover):hover{
      border-color:  $color-grey-dark !important;
    }
  }

  &.btn-black{
    border: solid 1px $color-opac;
    background-color: $color-black;
    color: $color-white;
    svg, i, span{
      fill: $color-white;
    }
    &:not(.no-hover):hover{
      border-color:  $color-white !important;
    }
  }
  &.btn-white{
    border: solid 1px $color-opac;
    background-color: $color-white;
    color: $color-grey-dark;
    svg, i, span{
      fill: $color-grey-dark;
    }
    &:not(.no-hover):hover{
      border-color:  $color-grey-dark !important;
    }
  }
  &.btn-grey{
    border: solid 1px $color-opac;
    background-color: $color-grey-light;
    color: $color-grey-dark;
    svg, i, span{
      fill: $color-grey-dark;
    }
    &:not(.no-hover):hover{
      border-color:  $color-grey-dark !important;
    }
  }


  &.btn-green{
    border: solid 1px $color-opac;
    background-color: $color-green-opac;
    color: $color-green;
    svg, i, span{
      fill: $color-green;
    }
    &:not(.no-hover):hover{
      border-color:  $color-green !important;
    }
  }
  &.btn-red{
    border: solid 1px $color-opac;
    background-color: $color-red-opac;
    color: $color-red;
    svg, i, span{
      fill: $color-red;
    }
    &:not(.no-hover):hover{
      border-color:  $color-red !important;
    }
  }
  &.btn-blue{
    border: solid 1px $color-opac;
    background-color: $color-blue-opac;
    color: $color-blue;
    svg, i, span{
      fill: $color-blue;
    }
    &:not(.no-hover):hover{
      border-color:  $color-blue !important;
    }
  }
  &.btn-orange{
    border: solid 1px $color-opac;
    background-color: $color-orange-opac;
    color: $color-orange;
    svg, i, span{
      fill: $color-orange;
    }
    &:not(.no-hover):hover{
      border-color:  $color-orange !important;
    }
  }
  &.btn-purple{
    border: solid 1px $color-opac;
    background-color: $color-purple-opac;
    color: $color-purple;
    svg, i, span{
      fill: $color-purple;
    }
    &:not(.no-hover):hover{
      border-color:  $color-purple !important;
    }
  }


}


