.drag-line{
  width: 25px;
  height: 3px;
  @include border-radius(5px);

  background-color: $color-grey-medium;
  text-align: center;
  margin: 5px auto 0 auto;
  cursor: row-resize;
}



.txt-center{
  text-align: center;
}



.h-25px{
  height:25px;
}

.inline{
  @include flexbox();
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  @include align-content(flex-start);
}

.bg-grey-light{
  background-color: $color-grey-light !important;
}
.bg-grey-medium{
  background-color: $color-grey-medium !important;
}
.bg-grey-dark{
  background-color: $color-grey-dark !important;
}