
.select-room-dialog{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .overlay{
    @include transition(display 1s ease 0s);
    background-color: $overlay-black;
    width: 100%;
    height: 100%;

  }

  .dropdown{
    position: absolute;
    bottom: 7px;
    left: 15px;
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(center);
    @include align-content(center);
    @include border-radius(20px);
    background-color: $color-grey-light;
    padding: 5px 0px;

    .header{
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include align-items(center);
      @include justify-content(flex-start);
      @include align-content(center);
      border-bottom: $border-default;
      padding-bottom: 5px;
      margin: 0 5px;
      cursor: pointer;



      .icon{
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);
        @include align-content(center);
  
        svg, i, span{
          vertical-align: middle;
          fill: $color-grey-dark;
          padding: 0 5px;
        }
  
        width: $tile-icon-size;
        height: $tile-icon-size;
        text-align: center;
        background-color: $color-white;
        border: solid 1px $color-opac;

        @include border-radius($btn-size);
        color: $color-grey-dark;
        &:hover{
          border: solid 1px $color-grey-dark;
        }
    
      }

      .title{
        @include flex-grow(1);
        @include flex-shrink(1);
        margin: 0 6px;
        div:nth-child(1){
          font-size: 15px;  
          font-weight: 400;
        }
        div:nth-child(2){
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          color: $color-grey-medium;

        }

      }
    }

    .room{
      @include border-radius($btn-size);

      cursor: pointer;
      text-align: center;
      background-color: none;
      padding: 8px 0;
      margin: 0 5px;
      font-weight: 400;
      font-size: 14px;
      width: 130px;
      
      &:not(:last-child){
        margin: 5px 0;
      }

      &:not(.btn){
        color: $color-grey-medium2;
      }
      
      &:not(.btn):hover{
        color: $color-grey-dark;
      }
      &.active{
        @include transition(all 0.2s ease 0s);
  
        border: solid 1px $color-opac;
        background-color: $color-white;
        color: $color-grey-dark;
        @include box-shadow( 1px, 0px, 2px, $color-grey-medium);
        svg, i, span{
          fill: $color-grey-dark;
        } 
  
      }
    }

  
  }

}