$color-opac:#FFFFFF00;
$color-white:#FFF;


$overlay-black:#111111a1;

// colors
$color-bg-grey:#efefef;
$color-btn-grey: #d5d5d5;

$color-grey-light:#efefef;
$color-grey-medium:#d5d5d5;
$color-grey-medium2:#c2c2c2;
$color-grey-dark:#454545;


$color-black-light:#1d1d1d;
$color-black:#111111;



$color-blue:#3d5afe;
$color-red:#f54436;
$color-orange:#ff9101;
$color-green:#00c853;
$color-purple:#641cff;

$color-white-opac:#ffffff27;
$color-blue-opac:#3d5aff27;
$color-red-opac:#f5443627;
$color-orange-opac:#ff910127;
$color-green-opac:#00c85327;
$color-purple-opac:#641cff27;
