
@mixin blur($value) {
  -webkit-filter: blur($value);
  -moz-filter: blur($value);
  -o-filter: blur($value);
  -ms-filter: blur($value);
  filter: blur($value);
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin linear-gradient($from, $to, $pos1: 0%, $pos2:100%) {
  background: $to;
	background: -moz-linear-gradient(top, $from $pos1, $to $pos2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop($pos1,$from), color-stop($pos2,$to));
	background: -webkit-linear-gradient(top, $from $pos1,$to $pos2);
	background: -o-linear-gradient(top, $from $pos1,$to $pos2);
	background: linear-gradient(to bottom, $from $pos1,$to $pos2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin border-radius($radius...) {
	-moz-border-radius:    $radius;
	-webkit-border-radius: $radius;
	border-radius:         $radius;
}
